.introduction{
  color:#984;
}
html{
  background-color: #4514;
}
.introduction p{
  color: #841204;
  font-family: fantasy;
}
.introduction h2{
  color: #684413;
}
.head{
  color: #120412;
  text-align: center;
  text-transform: capitalize;
}
@media screen and(min-width:1200px) and (max-device-width:1600px) {
  .one img{
    height: 250px;
    width: auto;
  }

}
@media screen and (max-width:600px) {
  .one img{
    height: 250px;
    width: auto;
  }

}
